form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input[type="text"], input[type="email"] {
        @include formBorder(border-bottom);
        width: 49%;
    }
    textarea, button {
        margin-top: 40px;
        width: 100%;
    }
    textarea {
        @include formBorder(border);
    }
    button {
        background-color: $yellow;
        @include buttonTransition;
        @include hoverFocus {
            background-color: $white;
        }
    }
}