header nav {
    li{
    margin-top: 50px;
    padding: 10px 20px;
        a {
            padding-bottom: 3px;
            text-transform: capitalize;
            transition: border-bottom .3s;
            @include hoverFocus {
                border-bottom: 3px solid $yellow;
            }
        }

    }
}

h1 {
    width: 43%;
    span {
        color: $almostBlack;
        background: $white;
        padding: 15px 5px 0;
    }
}

header {
    position: relative;
}

.headerImg {
    width: 55%;
    position: absolute;
    top: 28%;
    right: 0;
}

.headerImg img {
    height: 100%;
    width: 100%;
}

.headerHome {
    background-image: url(.././assets/home-header.jpg);
    @include headerBackground;
    height: 85vh;
}

.headerBlog {
    background-image: url(.././assets/blog-header.jpg);
    @include headerBackground;
    height: 74vh;
    background-position-x: -100px;
}

.headerContact {
    background-image: url(.././assets/contact-header.jpg);
    @include headerBackground;
    height: 73vh;
    background-position-x: -150px;
}

