// HOMEPAGE MAIN GLOBAL STYLES
.homeMain article {
    p {
        margin-bottom: 25px;
    }
    .findMoreButton {
        background-color: $black;
        padding: 15px 20px 10px;
        @include buttonTransition;
        @include hoverFocus {
            background-color: $almostBlack;
        }
    }
}

// ABOUT US STYLES
.aboutUs ul {
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        margin-top: 12%;
        width: 45%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        a:first-child {
            margin-right: 20px;
            text-align: center;
            font-size: 3rem;
            color: $almostBlack;
            width: 10%;
            position: relative;
            &::after {
                content: '';
                height: 50px;
                width: 50px;
                display: inline-block;
                background-color: $yellow;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: 1%;
                z-index: -1;
            }
        }
        a:nth-child(2), p {
            width: 85%;
        }
        h2 {
            line-height: unset;
        }
        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 50px;
        }
    }
}


// FEATURES STYLES
.features {
    ul {
        display: flex;
        flex-wrap: wrap;
        article {
            display: flex;
            .featureText {
                width: 42%;
                a {
                    color: $almostBlack;
                    @include buttonTransition;
                    @include hoverFocus {
                        background-color: $white;
                    }
                }
            }
        }
    }
}

.featureArticle1 {
    flex-direction: row-reverse;
    @include imageOverlay;
    @include featureFigurePosition (left, -110px)
}

.featureArticle2 {
    margin-top: 400px;
    align-items: flex-end;
    .featureText {
        text-align: right;
    }
    @include imageOverlay;
    @include featureFigurePosition (right, -100px);
}


// CONTEST STYLES
.contest {
    text-align: center;
    h2 {
        color: $yellow;
    }
    p {
        text-align: left;
    }
}


// BANNER STYLES
.banner {
    padding: 0;
    img {
        display: block;
        width: 100%;
    }
}


// HOME BLOG POST STYLES
.homeBlogPost article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    figure {
        @include imageOverlay;
        &::after {
            @include boxUnderlay;
            top: 15px;
            right: 15px;
        }
    }
    .homeBlogPostText {
        width: 70%;
        h2 {
            color: $yellow;
        }
    }
}


// GALLERY STYLES
.gallery {
    ul {
        justify-content: space-between;
        li {
            width: 32%;
            @include img100;
        }
    }
}