.blogMain {
    position: relative;
}

.blogPost{
     @include imageOverlay;
    .blogImage {
        margin-bottom: 15px;
        @include img100;
        position: absolute;
        bottom: 100%;
        left: 2%;
        &::after {
            @include boxUnderlay;
            top: 5%;
            right: 3%;
        }
    }
    .blogText,
    .blogComments {
        span {
            display: block;
        }
    }
}

.blogText {
    background-color: $pine;
    padding: 20px 100px 100px;
    margin-top: 40%;
    position: relative;
    &::after {
        @include boxUnderlay;
        top: 1%;
        right: 1%;
    }
    h2 {
        color: $yellow;
    }
    span {
        margin: 25px 0;
    }
}

.blogComments {
    padding: 20px 100px;
    margin-top: 25px;
    .blogComment {
        margin-bottom: 50px;
        display: flex;
        figure {
            margin-right: 25px;
        }
        p {
            span {
                color: $yellow;
                margin-bottom: 10px;
            }
        }
    }
}

aside {
    width: 27%;
    position: absolute;
    top: 75px;
    left: 50px;
    article {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        figure {
            width: 125%;
            padding: 0;
            position: relative;
            top: -20px;
            right: 20px;
            @include img100;
        }
        .featuredRestaurants {
            padding: 25px;
            h4 {
                color: $yellow;
            }
            .recentPosts {
                margin-top: 50px;
                ul {
                    flex-direction: column;  
                    li {
                        list-style: disc inside;
                    }
                }
            }
        }        
    }
}

