$baseFont: 'Josefin Sans', sans-serif;

$yellow: #ffd300; // rgb(255,211,0);
$white: #ffffff; // rgb(255,255,255);
$almostBlack: #171b0e; // rgb(23,27,14);
$pine: #2b331b; // rgb(43,51,27);
$black: #0f0f0f; // rgb(15,15,15);