html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

figure {
  margin: 0;
}

section {
  padding: 100px 0;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input, textarea {
  border: none;
  background: none;
  color: #ffffff;
}

button {
  border: none;
}

.mainwrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

.blogWrapper {
  max-width: 1280px;
  margin: 0 0 0 auto;
  width: 65%;
}

section:nth-child(odd) {
  background-color: #2b331b;
}

section:nth-child(even), aside {
  background-color: #171b0e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}

h1, h2, h3, h4,
button, .readMoreButton {
  text-transform: uppercase;
}

h2, h3, h4,
button, .readMoreButton {
  font-weight: 400;
}

h1 {
  font-size: 6.9rem;
  font-weight: 600;
}

h2 {
  font-size: 4.5rem;
  line-height: 99.8px;
}

h3 {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
}

p, a, li, form {
  font-size: 2rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}

article p span:first-child {
  font-weight: 700;
}

button, .readMoreButton {
  font-size: 2.24rem;
  line-height: 41.6px;
  text-align: center;
}

article a {
  padding: 15px 15px 10px;
  background-color: #ffd300;
}

header nav li {
  margin-top: 50px;
  padding: 10px 20px;
}

header nav li a {
  padding-bottom: 3px;
  text-transform: capitalize;
  -webkit-transition: border-bottom .3s;
  transition: border-bottom .3s;
}

header nav li a:hover, header nav li a:focus, header nav li a:active {
  border-bottom: 3px solid #ffd300;
}

h1 {
  width: 43%;
}

h1 span {
  color: #171b0e;
  background: #ffffff;
  padding: 15px 5px 0;
}

header {
  position: relative;
}

.headerImg {
  width: 55%;
  position: absolute;
  top: 28%;
  right: 0;
}

.headerImg img {
  height: 100%;
  width: 100%;
}

.headerHome {
  background-image: url(.././assets/home-header.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  width: 100%;
  height: 85vh;
}

.headerBlog {
  background-image: url(.././assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  width: 100%;
  height: 74vh;
  background-position-x: -100px;
}

.headerContact {
  background-image: url(.././assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  width: 100%;
  height: 73vh;
  background-position-x: -150px;
}

.homeMain article p {
  margin-bottom: 25px;
}

.homeMain article .findMoreButton {
  background-color: #0f0f0f;
  padding: 15px 20px 10px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.homeMain article .findMoreButton:hover, .homeMain article .findMoreButton:focus, .homeMain article .findMoreButton:active {
  background-color: #171b0e;
}

.aboutUs ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutUs ul li {
  margin-top: 12%;
  width: 45%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutUs ul li a:first-child {
  margin-right: 20px;
  text-align: center;
  font-size: 3rem;
  color: #171b0e;
  width: 10%;
  position: relative;
}

.aboutUs ul li a:first-child::after {
  content: '';
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #ffd300;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 1%;
  z-index: -1;
}

.aboutUs ul li a:nth-child(2), .aboutUs ul li p {
  width: 85%;
}

.aboutUs ul li h2 {
  line-height: unset;
}

.aboutUs ul li:nth-child(3), .aboutUs ul li:nth-child(4) {
  margin-top: 50px;
}

.features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features ul li article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features ul li article .featureText {
  width: 42%;
}

.features ul li article .featureText a {
  color: #171b0e;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.features ul li article .featureText a:hover, .features ul li article .featureText a:focus, .features ul li article .featureText a:active {
  background-color: #ffffff;
}

.featureArticle1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  z-index: 1;
}

.featureArticle1 figure {
  position: absolute;
  left: -110px;
}

.featureArticle1 figure::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ffd300;
  position: absolute;
  z-index: -1;
  top: 4%;
  left: 3%;
}

.featureArticle2 {
  margin-top: 400px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 1;
}

.featureArticle2 .featureText {
  text-align: right;
}

.featureArticle2 figure {
  position: absolute;
  right: -100px;
}

.featureArticle2 figure::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ffd300;
  position: absolute;
  z-index: -1;
  top: 4%;
  right: 3%;
}

.contest {
  text-align: center;
}

.contest h2 {
  color: #ffd300;
}

.contest p {
  text-align: left;
}

.banner {
  padding: 0;
}

.banner img {
  display: block;
  width: 100%;
}

.homeBlogPost article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeBlogPost article figure {
  position: relative;
  z-index: 1;
}

.homeBlogPost article figure::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ffd300;
  position: absolute;
  z-index: -1;
  top: 15px;
  right: 15px;
}

.homeBlogPost article .homeBlogPostText {
  width: 70%;
}

.homeBlogPost article .homeBlogPostText h2 {
  color: #ffd300;
}

.gallery ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery ul li {
  width: 32%;
}

.gallery ul li img {
  height: 100%;
  width: 100%;
}

.blogMain {
  position: relative;
}

.blogPost {
  position: relative;
  z-index: 1;
}

.blogPost .blogImage {
  margin-bottom: 15px;
  position: absolute;
  bottom: 100%;
  left: 2%;
}

.blogPost .blogImage img {
  height: 100%;
  width: 100%;
}

.blogPost .blogImage::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ffd300;
  position: absolute;
  z-index: -1;
  top: 4%;
  right: 3%;
}

.blogPost .blogText span,
.blogPost .blogComments span {
  display: block;
}

.blogText {
  background-color: #2b331b;
  padding: 20px 100px 100px;
  margin-top: 40%;
  position: relative;
}

.blogText::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ffd300;
  position: absolute;
  z-index: -1;
  top: 1%;
  right: 1%;
}

.blogText h2 {
  color: #ffd300;
}

.blogText span {
  margin: 25px 0;
}

.blogComments {
  padding: 20px 100px;
  margin-top: 25px;
}

.blogComments .blogComment {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogComments .blogComment figure {
  margin-right: 25px;
}

.blogComments .blogComment p span {
  color: #ffd300;
  margin-bottom: 10px;
}

aside {
  width: 27%;
  position: absolute;
  top: 75px;
  left: 50px;
}

aside article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

aside article figure {
  width: 125%;
  padding: 0;
  position: relative;
  top: -20px;
  right: 20px;
}

aside article figure img {
  height: 100%;
  width: 100%;
}

aside article .featuredRestaurants {
  padding: 25px;
}

aside article .featuredRestaurants h4 {
  color: #ffd300;
}

aside article .featuredRestaurants .recentPosts {
  margin-top: 50px;
}

aside article .featuredRestaurants .recentPosts ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside article .featuredRestaurants .recentPosts ul li {
  list-style: disc inside;
}

.contact {
  position: relative;
  z-index: 1;
  padding-bottom: 175px;
}

.contact li {
  margin-right: 20px;
}

.contact li i {
  color: #ffd300;
}

.contact form {
  padding: 40px;
  width: 60%;
  background-color: #171b0e;
  position: absolute;
  top: -150px;
  right: 5%;
}

.contact form::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #ffd300;
  position: absolute;
  z-index: -1;
  top: 3%;
  left: 2%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form input[type="text"], form input[type="email"] {
  border-bottom: 2px solid #ffd300;
  padding: 15px;
  width: 49%;
}

form textarea, form button {
  margin-top: 40px;
  width: 100%;
}

form textarea {
  border: 2px solid #ffd300;
  padding: 15px;
}

form button {
  background-color: #ffd300;
  -webkit-transition: background .2s;
  transition: background .2s;
}

form button:hover, form button:focus, form button:active {
  background-color: #ffffff;
}

footer {
  background-color: #0f0f0f;
  text-align: center;
  padding: 5px;
}

footer p {
  display: inline;
  margin: 0 20px;
}

footer p a {
  -webkit-transition: color .6s;
  transition: color .6s;
}

footer p a:hover, footer p a:focus, footer p a:active {
  color: #ffd300;
}
